.container {
  margin: auto;
  width: 50%;
  border: 1px solid #e4d6d6;
  padding: 10px;
  border-radius: 5px;
}

.content {
  min-height: 600px;
}

.input-group input {
  width: 75%;
  height: 25px;
}

.input-group button {
  width: 17%;
  height: 33px;
  margin: 10px;
  background-color: #42c5f4;
  color: black;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}

@media screen and (max-width: 1000px){
    .input-group input {
      width: 60%;
    }
    .input-group button {
      width: 30%;
    }
    .container {
      width: 90%;
    }
}

@media screen and (max-width: 450px){
    .input-group input {
      width: 100%;
    }
    .input-group button {
      width: 100%;
      margin: 0;
      margin-top: 10px;

    }
    .container {
      width: 90%;      
    }
}

